@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* font-family: 'PT Sans', sans-serif; */
/* main section */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* font-family: 'Space Mono', monospace; */
/* little section */

*{
scroll-behavior: smooth !important;
}
body{
	background : black;
	color : white;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
::selection {
  color: black;
  background: 
  white;
} 
.main-h1{
    font-size: 5em;
    font-weight: bold;
font-family: 'Questrial', sans-serif;
    color :orange;
}
.main-div-1{
font-family: 'PT Sans', sans-serif;
}
.main-h3{
font-family: 'PT Sans', sans-serif;
font-weight: 600;
font-size : 50px;
color :#AEA79C;
}
.main-span-1{
font-family: 'Space Mono', monospace;
color: #64FFDA;
backdrop-filter: blur(20px);
}
.section-button{
    border-color: #64FFDA;
}
.cover-img{
    width : 15em;
   height : 22em; 
}
.up-down{
    animation:MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown{
    0%, 100% {
        top:15em;
  }
  50% {
      top:12em;
  }
}
.mid-down{
    animation:middown 5s linear infinite;
}
@keyframes middown{
    0%,100%{
            top:20em;
    }
    50%{
        top:23em;
    }
}
.bot-down{
    animation:botdown 5s linear infinite;
}
@keyframes botdown{
    0%,100%{
            bottom:2em;
    }
    50%{
        bottom : 4em;
    }
}
.top-down{
    animation:topdown 5s linear infinite;
}
@keyframes topdown{
    0%,100%{
            top:2em;
    }
    50%{
        top : 8em;
    }
}
.section-button{
font-family: 'Space Mono', monospace;
}
.info-head{
    color : #64FFDA;
font-family: 'PT Sans', sans-serif;
}
.info-head::before{
    content:'01.';
    color:white;
    margin-right : 10px;
    margin-left : 2em;
}
.info-info{
font-family: 'PT Sans', sans-serif;
}
.spc-col{
color: #64FFDA;
}
.spc-li{
    list-style-type: none;
  position: relative;
  padding-left: 15px;
}
.spc-li:before{
  content: "\25BA \0020";
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: -10px;
}
.media-links:hover{
    color : #64FFDA;
}
.email-link{
    color : #64FFDA;
}
.foot-main{
    margin-top:40rem;
}
.foot-main-h5{
    color : #64FFDA;
font-family: 'Space Mono', monospace;
}
.foot-main-h1{
font-family: 'PT Sans', sans-serif;
font-weight: 600;
font-size : 60px;
line-height: 78px;
}
.foot-button{
    border-color:#64FFDA;
}
footer{
font-family: 'Space Mono', monospace;
}
.pro{
font-family: 'PT Sans', sans-serif;
}
.pro-h2{
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    position : relative;
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    color:white;
}
.pro-h2::before{
    content:'03.';
    color:#64FFDA;
    margin-right : 10px;
    margin-left : 2em;
}
.exp-h2{
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    position : relative;
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    color:white;
}
.exp-h2::before{
    content : '02.';
    color:#64FFDA;
    margin-right : 10px;
    margin-left : 2em;
}
@media(max-width:700px){
    .left-links{
        display: none;
    }
    .second-main{
        margin-left : 1em;
        margin-right : 0;
    }
    .info-head{
        font-size: 2em;;
        width : 50%;
        text-align: center;
    }
    .info-head::before{
        content: '01. ';
        font-size : 20px;
        margin-left : 0;
        margin-right : 0;
    }
    .ab-hr{
        width: 30%;
    }
    .ab-span{
        font-size : 20px;
    }
   
    .info-info{
        width: 80%;
        margin-right : 0;
    }
    .ab-des-des{
        width : 30em;
    }
    .foot-main-h1{
font-weight: 600;
font-size : 40px;
    }
    .pro-h2::before{
        margin-left : 0;
        margin-right : 5px;
    }
.main-h1{
    font-size: 2.5em;
    font-weight: bold;
font-family: 'Questrial', sans-serif;
    color :orange;
}
.main-h3{
font-family: 'PT Sans', sans-serif;
font-weight: 600;
font-size : 30px;
color :#AEA79C;
}

}
@media(max-width:420px){
    .left-links{
        display: none;
    }
    .second-main{
        margin-left : 1em;
        margin-right : 0;
    }
    .info-head{
        font-size: 2em;;
        width : 50%;
        text-align: center;
    }
    .info-head::before{
        content: '01. ';
        font-size : 20px;
        margin-left : 0;
        margin-right : 0;
    }
    .ab-hr{
        
        width: 50%;
    }
    .ab-span{
        font-size : 20px;
    }
   
    .info-info{
        width: 80%;
        margin-right : 0;
    }
    .ab-des-des{
        width : 30em;
    }
    .foot-main-h1{
font-weight: 600;
font-size : 40px;
    }
    .pro-h2::before{
        margin-left : 0;
        margin-right : 5px;
    }
.main-h1{
    font-size: 2.5em;
    font-weight: bold;
font-family: 'Questrial', sans-serif;
    color :orange;
}
.main-h3{
font-family: 'PT Sans', sans-serif;
font-weight: 600;
font-size : 30px;
color :#AEA79C;
}
#experience {
    margin-top:-50em;
}
 .foot-icon:hover{
    color:#64FFDA;
 }
}