@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* font-family: 'PT Sans', sans-serif; */
/* main section */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* font-family: 'Space Mono', monospace; */
/* little section */
.content h3{
font-family: 'PT Sans', sans-serif;
}
.pro-main{
	background-color:#112240; 
    cursor: default;
    border-radius: 12px;
    background: linear-gradient(
145deg, rgb(11, 27, 50), rgb(9, 23, 42));
    box-shadow: rgb(7 18 33) 12px 12px 18px, rgb(13 32 61) -12px -12px 18px;

}
.git-logo:hover{
	color:#64FFDA;
}
