html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #0a192f;
 
}

.load-container {
  width: max-content;
  max-width: 100px;
}

#hexagon {
  width: 10%;
  height: 10%;
  position : absolute;
 margin-top : 40vh;
 margin-left : 45vw;
  fill: none;
}
